.channel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
}

.title {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    padding: 5vh 0;
}

.input {
    height: 5vh;
    width: 20vw;
    border-color: aliceblue !important;
    background-color: rgba(0, 0, 0, 0.026) !important;
    border-radius: 15px;
}

.button {
    margin-top: 2vh;
    height: 3vh;
    width: 5vw;
    border-width: 2px !important;
    border-color: aliceblue !important;
    background-color: rgba(0, 0, 0, 0.26) !important;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
}

.button:hover {
    cursor: pointer;
}

.results {
    padding-top: 5vh;
    font-size: 2rem;
    color: rgb(163, 157, 151);
}

.taskContainer2 {
    background: rgba(255, 255, 255, 0.192);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    height: 300px;
    width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    padding-top: 20px;
  }
  
  .parentContainer2 {
    display: flex;
    height: 450px;
    width: 700px;
    margin: 0 auto;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  